$font-size: 1rem;
.BtnGeneric {
  &.success {
    color: white;
    background: rgba($color: rgb(91, 168, 80), $alpha: 1.0);
    text-transform: uppercase;
    border: none;
    border-radius: 0.25*$font-size;
    font-size: $font-size;
    padding: $font-size 2*$font-size;
  }
}