.AddAdmin {
  $font-size: 1rem;
  margin: 5vh 0 0 0;
  width: 90%;
  height: 75vh;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .add-admin-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .add-admin-input {
    line-height: 1.5 * $font-size;
    font-size: $font-size;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}